/* Stylesheet for Mobile App */
/* Google Fonts


    font-family: 'Lobster', cursive;

    font-family: 'Cinzel', serif;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Gloria Hallelujah', cursive;

    font-family: 'Underdog', cursive;


*/


/* Reset */

html, body, div, p, ul, ol, li, h1, h2, h3,h4,h5,h6 
{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: aqua;
}

div#container{
    width: 100%;
    
    border: 3px dashed mediumblue;
    background-color:  mediumseagreen;
    background-image: /*url("https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/06/25/Pictures/_f36adf22-7874-11e8-8d5f-3f0c905295d2.jpg");*/
    
}
header{
    width: 90%;
    padding: 50px;
    background-color: aqua;
    text-align: center;
    
}
header img#applogo{
    display: block;
    margin: auto;
    width: 100px;
}
header h1{
    color: black;
    font-family: 'Underdog', cursive;
    font-size: 5.45em;
    text-align: center;
}
div#content{
    width:100%;
    color: black;
    background-color: firebrick;
    font-family: inherit;
    font-size: 1.3em;
}


/*
nav{
    background-color: darkkhaki;
    color: antiquewhite;
    font-family: cursive;
    font-size: 2.6em;
    background-image: url("Shrike.png");
}
nav ul{
    list-style: none;
    
}

nav ul li{
    
    
}
nav ul li a{
    
    float:left;
    display:block;
    padding: 5px 15px;
    border-right: 2px solid black;
    color: aqua;
    text-decoration: none;
    color:antiquewhite;
    
}
nav ul li a:hover{
    background-color: lightskyblue;
    color: mediumspringgreen;
    
}
*/

/*
footer{
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    height:50px;
    background-color: cornflowerblue;
    background-image: url("Shrike.png");
}
div.keepOpen{
    clear: both;
    
}

@media screen and (max-width: 1200px){
    div#container{
        width:100%
            
    }
    nav ul li a{
        float:none;
        text-align: center;
        
    }
}
*/

.icon-bar{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: black;
    overflow: auto;

}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    
}
.icon-bar a:hover {
    background-color: blue;
}
.active {
    background-color: #ffa20e;
}






